/* Navbar Styling  */

:root {
    --darkTeal    : #388087;
    --lightTeal   : #6fb3b8;
    --lightBlue   : #badfe7;
    --lightGreen  : #c2edce;
    --offWhite    : #f6f6f2;
    --lightGray   : #e3e4e4;

    --headingFont : 'Oswald', sans-serif;
    --bodyFont    : 'Quattrocento', serif;
}

.navbar {
    background-color: var(--offWhite);
    color: var(--darkTeal);
}

.navbar-brand, .offcanvas-title, .nav-item, .btn, .nav-link {
    font-family: var(--headingFont);
    color: var(--darkTeal);
}

.navbar-brand {
  font-size: 2rem;
}

.me-2 {
    border-color: var(--lightGray);
    color: var(--darkTeal);
    font-family: var(--bodyFont);
}

.dropdown-item, input {
    font-family: var(--bodyFont);
    color: var(--darkTeal);
}

.btn-outline-success:hover {
    background-color: var(--lightGreen);
    color: var(--darkTeal);
}

.nav-item:hover, .nav-link:hover {
    color: var(--lightGreen);
}

.navbar-toggler {
  background-color: var(--darkTeal);
  border-color: var(--darkTeal);
  color: var(--offWhite);
/*   width: 20vw; */
  padding: 15px 20px 10px 20px;
}

.navbar-toggler-icon {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--headingFont);
}

.bi-list {
    margin: 0;
    padding: 0;
}